---
import BaseLayout from '../layouts/BaseLayout.astro';
import place1 from '../assets/our-place/place1.png';
import place2 from '../assets/our-place/place2.png';
import place3 from '../assets/our-place/place3.png';
import place4 from '../assets/our-place/place4.png';
import place5 from '../assets/our-place/place5.png';
import { Image } from 'astro:assets';
const title = 'Ο Χώρος | Ενάλια';
const description = 'Ψυχοθεραπευτικό κέντρο στη Νέα Ιωνία. Ατομική θεραπεία, ζεύγους, οικογενειακή.';
---


<BaseLayout {title} {description}>
    <div class="min-h-screen flex flex-col">
        <div class="max-w-screen-xl mx-auto px-4 lg:px-6 flex-1 py-10">
        <h2 class="text-4xl font-bold tracking-tight text-primary-800 text-center mb-10">
            Ο Χώρος
        </h2>
        </div>
    <div class="grid grid-cols-2 gap-2">
        <div>
            <Image src={image1} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
        <div>
            <Image src={image2} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
        <div>
            <Image src={image3} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
        <div>
            <Image src={image4} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
        <div>
            <Image src={image5} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
    </div>
</div>

</BaseLayout>
