---
import BaseLayout from '../layouts/BaseLayout.astro';
import Gallery from '../components/Gallery.jsx';
import place1 from '../assets/our-place/place1.png';
import place2 from '../assets/our-place/place2.png';
import place3 from '../assets/our-place/place3.png';
import place4 from '../assets/our-place/place4.png';
import place5 from '../assets/our-place/place5.png';
import { Image } from 'astro:assets';
const title = 'Ο Χώρος | Ενάλια';
const description = 'Ενάλια - Ψυχοθεραπευτικό κέντρο στη Νέα Ιωνία. Ατομική θεραπεία, ζεύγους, οικογενειακή, βιωματικές δράσεις, online.';
const keywords = 'kentro psyxotherapias, κεντρο ψυχοθεραπείας, εναλια, αθηνα, νεα ιωνία, our place, ο χώρος μας, gallery, therapy place, enalia, psychotherapy'
---


<BaseLayout {title} {description} {keywords}>
 <div class="max-w-7xl px-4 py-10 sm:px-6 lg:px-8 mx-auto">
    <div class="text-center mb-10">
      <h2 class="text-4xl sm:text-5xl font-semibold tracking-tight text-gray-900">
        Ο Χώρος
      </h2>
    </div>

    <Gallery
     client:load
     mainAspect="aspect-[16/9] md:aspect-[4/3] lg:aspect-[3/2]"/>
  </div>
    <!--<div class="min-h-screen flex flex-col">
        <div class="max-w-screen-xl mx-auto px-4 lg:px-6 flex-1 py-10">
        <h2 class="text-4xl font-bold tracking-tight text-primary-800 text-center mb-10">
            Ο Χώρος
        </h2>
        </div>
    <div class="grid grid-cols-2 gap-2">
        <div>
            <Image src={place1} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
        <div>
            <Image src={place2} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
        <div>
            <Image src={place3} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
        <div>
            <Image src={place4} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
        <div>
            <Image src={place5} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
    </div>
</div>-->

</BaseLayout>





