---
import BaseLayout from '../layouts/BaseLayout.astro';
import image1 from '../assets/our-place/place1.jpg';
import image2 from '../assets/our-place/place2.jpg';
import image3 from '../assets/our-place/place3.jpg';
import { Image } from 'astro:assets';
---


<BaseLayout>

    <div class="grid grid-cols-2 gap-2">
        <div>
            <Image src={image1} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
        <div>
            <Image src={image2} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
        <div>
            <Image src={image3} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
        <div>
            <Image src={image2} alt="Χώρος θεραπείας" class="h-auto max-w-full rounded-lg" />
        </div>
    </div>

</BaseLayout>
    <!-- <div class="grid gap-4">
        <div>
            <Image src={place1} alt="Χώρος" class="h-auto max-w-full rounded-lg"/>
        </div>
        <div class="grid grid-cols-5 gap-4">
            <div>
                <Image src={place2} alt="Χώρος" class="h-auto max-w-full rounded-lg"/>
            </div>
            <div>
                <Image src={place3} alt="Χώρος" class="h-auto max-w-full rounded-lg"/>
            </div>
           <div>
                <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" alt="">
            </div> -->
        <!-- </div>
    </div> -->