---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import image1 from '../assets/our-place/image1.JPG';
import image2 from '../assets/our-place/image2.JPG';
import image3 from '../assets/our-place/image3.jpg';
import chris from '../assets/team/chris.jpg';
import evi from '../assets/team/evi.jpg';
import atomiki from '../assets/atomiki.jpg';
import goneis from '../assets/goneis.png';
import oikogeneiakh from '../assets/oikogeneiakh.jpg';
import omadiki from '../assets/omadiki.png';
import zeugous from '../assets/zeugous.jpg';

const BASE = import.meta.env.BASE_URL;
---

<BaseLayout>
  <Fragment slot="banner">
    <div class="relative w-full h-[320px] overflow-hidden bg-secondary">
      <svg class="absolute inset-0 w-full h-full" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 1440 690" xmlns="http://www.w3.org/2000/svg">
        <style>
          .path-0 {
            animation: pathAnim-0 4s linear infinite;
          }
          @keyframes pathAnim-0 {
            0% {
              d: path("M 0,700 L 0,262 C 138.92,328.46 277.85,394.92 405,381 C 532.14,367.07 647.5,272.75 760,260 C 872.5,247.24 982.14,316.07 1095,330 C 1207.85,343.92 1323.92,302.96 1440,262 L 1440,700 L 0,700 Z");
            }
            25% {
              d: path("M 0,700 L 0,262 C 93,315.42 186,368.85 314,354 C 442,339.14 605,256 739,234 C 872.99,211.99 978,251.14 1090,266 C 1202,280.85 1321,271.42 1440,262 L 1440,700 L 0,700 Z");
            }
            50% {
              d: path("M 0,700 L 0,262 C 155.53,219.28 311.07,176.57 426,169 C 540.92,161.42 615.25,189 731,218 C 846.74,247 1003.92,277.42 1129,285 C 1254.07,292.57 1347.03,277.28 1440,262 L 1440,700 L 0,700 Z");
            }
            75% {
              d: path("M 0,700 L 0,262 C 128.25,316.10 256.5,370.21 385,370 C 513.5,369.78 642.25,315.25 758,313 C 873.75,310.75 976.5,360.78 1088,361 C 1199.5,361.21 1319.75,311.6 1440,262 L 1440,700 L 0,700 Z");
            }
            100% {
              d: path("M 0,700 L 0,262 C 138.92,328.46 277.85,394.92 405,381 C 532.14,367.07 647.5,272.75 760,260 C 872.5,247.24 982.14,316.07 1095,330 C 1207.85,343.92 1323.92,302.96 1440,262 L 1440,700 L 0,700 Z");
            }
          }
        </style>
        <defs>
          <linearGradient id="gradient" x1="72%" y1="95%" x2="28%" y2="5%">
            <stop offset="5%" stop-color="#769d88"></stop>
            <stop offset="95%" stop-color="#F7EADF"></stop> <!-- ← updated here -->
          </linearGradient>
        </defs>
        <path
          d="M 0,700 L 0,262 C 138.92,328.46 277.85,394.92 405,381 C 532.14,367.07 647.5,272.75 760,260 C 872.5,247.24 982.14,316.07 1095,330 C 1207.85,343.92 1323.92,302.96 1440,262 L 1440,700 L 0,700 Z"
          fill="url(#gradient)"
          class="path-0"
        />
      </svg>


      <!-- Text inside Banner -->
      <div class="absolute inset-0 flex items-center justify-center mt-10">
        <h2 class="text-white text-3xl md:text-4xl font-semibold">Καλωσήρθατε στην "Ενάλια"</h2>
      </div>
    </div>
  </Fragment>

  <!-- About us -->
   <section class="grid gap-10 md:grid-col-1">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <p class="mt-2 text-base/7 text-gray-600">Το όνομα Ενάλια προέρχεται από τη λέξη «ένάλιος» και παραπέμπει στη θάλασσα – σύμβολο ροής, προσαρμογής και βαθιάς εσωτερικής μεταμόρφωσης. Όπως το νερό διαμορφώνει το τοπίο, έτσι και οι εμπειρίες, οι σχέσεις και οι προκλήσεις της ζωής διαμορφώνουν την εσωτερική μας πορεία. Κάθε κύμα, όπως και κάθε αλληλεπίδραση, φέρει τη δύναμη να μας επηρεάσει και να μας αλλάξει. Στο Κέντρο Ψυχοθεραπείας Ενάλια, αφουγκραζόμενοι αυτή τη δυναμική, προσφέρουμε έναν χώρο ασφάλειας και ενσυναίσθησης, όπου η θεραπεία γίνεται ένα ταξίδι σύνδεσης με τον εαυτό και τους άλλους – μια διαδικασία συνεχούς ροής και προσωπικής εξέλιξης.</p>
    </div>
  </section>


  <!-- Team Section -->
  <section class="mt-16 grid gap-10 md:grid-cols-1">
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-2 lg:py-2 mx-auto">
      <div class="max-w-3xl mx-auto text-center mb-10 lg:mb-14">
        <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance">Οι Θεραπευτές</p>
      </div>

      <div class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">

        <!-- Team Member 2 -->
        <div class="text-center">
          <a href={`${BASE}team/karavana`}>
            <Image src={evi} alt="Εύη Καραβάνα" class="rounded-full w-32 h-32 sm:w-44 sm:h-44 lg:w-60 lg:h-60 object-cover mx-auto" />
          </a>
          <div class="mt-2 sm:mt-4">
            <h3 class="ttext-base/7 font-semibold text-gray-900">Εύη Καραβάνα</h3>
            <p class="text-xs sm:text-sm lg:text-base">Ψυχολόγος, MSc</p>
            <p class="text-xs sm:text-sm lg:text-base">Συστημική Ψυχοθεραπεύτρια</p>
          </div>
        </div>

        <!-- Team Member 1 -->
        <div class="text-center">
          <a href={`${BASE}team/kostikidis`}>
            <Image src={chris} alt="Χρήστος Κωστικίδης" class="rounded-full w-32 h-32 sm:w-44 sm:h-44 lg:w-60 lg:h-60 object-cover mx-auto"/>
          </a>
          <div class="mt-2 sm:mt-4">
            <h3 class="text-base/7 font-semibold text-gray-900">Χρήστος Κωστικίδης</h3>
            <p class="text-xs sm:text-sm lg:text-base">Κοινωνικός Λειτουργός, MSc</p>
            <p class="text-xs sm:text-sm lg:text-base">Συστημικός Ψυχοθεραπευτής</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section class="mt-16 grid gap-10 md:grid-col-1">
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance">Οι Υπηρεσίες</p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
          <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div class="absolute top-0 left-0 flex size-16 items-center justify-center rounded-full ">
                  <Image src={atomiki} alt="Ατομική Ψυχοθεραπεία" class="rounded-full w-15 h-16 sm:w-22 sm:h-22 lg:w-30 lg:h-30 object-cover mx-auto" />
                </div>
                Ατομική Ψυχοθεραπεία
              </dt>

              <dd class="mt-2 text-base/7 text-gray-600">Η ατομική ψυχοθεραπεία προσφέρει έναν ασφαλή και υποστηρικτικό χώρο, όπου το άτομο έχει τη δυνατότητα να επεξεργαστεί τα συναισθήματα, τις σκέψεις και τις προκλήσεις που αντιμετωπίζει. 
                <a class="group mt-2 flex flex-col justify-center hover:bg-gray focus:outline-hidden rounded-xl p-1 md:p-1" href="#">
                  <span class="inline-flex items-center text-sm text-primary-600 decoration-2 group-focus:underline font-medium">
                  Μάθε Περισσότερα
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                </span>
              </a>
              </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div class="absolute top-0 left-0 flex size-16 items-center justify-center rounded-full ">
                  <Image src={zeugous} alt="Θεραπεία Zεύγους" class="rounded-full w-15 h-16 sm:w-22 sm:h-22 lg:w-30 lg:h-30 object-cover mx-auto" />
                </div>
                Θεραπεία Zεύγους
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">Δημιουργώντας έναν ασφαλή και υποστηρικτικό χώρο, το ζευγάρι έχει την ευκαιρία να καλλιεργήσει ανοιχτό και ειλικρινή διάλογο, όπου κάθε σύντροφος προσπαθεί να μπει στη θέση του άλλου και να κατανοήσει βαθύτερα τις σκέψεις και τα συναισθήματά του.
                <a class="group mt-2 flex flex-col justify-center hover:bg-gray focus:outline-hidden rounded-xl p-1 md:p-1" href="#">
                  <span class="inline-flex items-center text-sm text-primary-600 decoration-2 group-focus:underline font-medium">
                  Μάθε Περισσότερα
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                </span>
              </a>
            </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div class="absolute top-0 left-0 flex size-16 items-center justify-center rounded-full ">
                  <Image src={oikogeneiakh} alt="Οικογενειακή Ψυχοθεραπεία" class="rounded-full w-15 h-16 sm:w-22 sm:h-22 lg:w-30 lg:h-30 object-cover mx-auto" />
                </div>
                Οικογενειακή Ψυχοθεραπεία
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">Η οικογενειακή ψυχοθεραπεία αποτελεί θεμέλιο λίθο στην προσέγγισή μας, καθώς η οικογένεια, σε όλες τις μορφές της, είναι το πρώτο και πιο σημαντικό κοινωνικό σύστημα στο οποίο κάθε μέλος εξασφαλίζει την επιβίωση και την ανάπτυξη του. <a class="group mt-2 flex flex-col justify-center hover:bg-gray focus:outline-hidden rounded-xl p-1 md:p-1" href="#">
                  <span class="inline-flex items-center text-sm text-primary-600 decoration-2 group-focus:underline font-medium">
                  Μάθε Περισσότερα
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                </span>
              </a>
            </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div class="absolute top-0 left-0 flex size-16 items-center justify-center rounded-full ">
                  <Image src={omadiki} alt="Ομαδική Ψυχοθεραπεία" class="rounded-full w-15 h-16 sm:w-22 sm:h-22 lg:w-30 lg:h-30 object-cover mx-auto" />
                </div>
                Ομαδική Ψυχοθεραπεία
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">Η ομαδική ψυχοθεραπεία προσφέρει ένα περιβάλλον ασφάλειας, εμπιστοσύνης και αμοιβαιότητας, όπου τα μέλη της ομάδας έχουν τη δυνατότητα να αλληλεπιδρούν με αυθεντικότητα και ενσυναίσθηση.
                <a class="group mt-2 flex flex-col justify-center hover:bg-gray focus:outline-hidden rounded-xl p-1 md:p-1" href="#">
                  <span class="inline-flex items-center text-sm text-primary-600 decoration-2 group-focus:underline font-medium">
                  Μάθε Περισσότερα
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                </span>
              </a>
            </dd>
            </div>
            <div class="relative pl-16">
              <dt class="text-base/7 font-semibold text-gray-900">
                <div class="absolute top-0 left-0 flex size-16 items-center justify-center rounded-full ">
                  <Image src={goneis} alt="Ομαδική Ψυχοθεραπεία" class="rounded-full w-15 h-16 sm:w-22 sm:h-22 lg:w-30 lg:h-30 object-cover mx-auto" />
                </div>
                Συμβουλευτική Γονέων
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600">Η συμβουλευτική γονέων προσφέρει έναν χώρο διαλόγου και αναστοχασμού, όπου οι γονείς έχουν την ευκαιρία να βιώσουν μια ουσιαστική συνάντηση με τον γονεϊκό τους ρόλο και να ενισχύσουν τη σχέση τους με τα παιδιά τους.
                <a class="group mt-2 flex flex-col justify-center hover:bg-gray focus:outline-hidden rounded-xl p-1 md:p-1" href="#">
                  <span class="inline-flex items-center text-sm text-primary-600 decoration-2 group-focus:underline font-medium">
                  Μάθε Περισσότερα
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                </span>
              </a>
            </dd>
            </div>
          </dl>
        </div>
    </div>
  </div>
  </section>

  <!-- Space Section -->
  <section class="mt-16 grid gap-10 md:grid-cols-1">
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-2 lg:py-2 mx-auto">
      <div class="max-w-3xl mx-auto text-center mb-10 lg:mb-14">
        <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance">Ο Χώρος</p>
      </div>
      <div class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-3 lg:gap-y-10">
        <Image src={image1} alt="Χώρος θεραπείας" class="w-32 h-32 sm:w-44 sm:h-44 lg:w-60 lg:h-60 object-cover mx-auto" />
        <Image src={image2} alt="Χώρος θεραπείας" class="w-32 h-32 sm:w-44 sm:h-44 lg:w-60 lg:h-60 object-cover mx-auto" />
        <Image src={image3} alt="Χώρος θεραπείας" class="w-32 h-32 sm:w-44 sm:h-44 lg:w-60 lg:h-60 object-cover mx-auto" />
      </div>
    </div>
  </section>
</BaseLayout>