---
import '../styles/tailwind.css';

const BASE = import.meta.env.BASE_URL;
---

<footer class="mt-auto w-full px-4 py-8 sm:px-6 lg:px-8 bg-[url('/images/wave-haikei-footer.svg')] bg-no-repeat bg-cover">
  <div class="flex flex-col pt-10 md:flex-row md:justify-between md:items-start gap-10 w-full">
    
    <!-- Υπηρεσίες -->
    <div>
      <h4 class="text-xs font-semibold text-gray-900 uppercase">Οι Υπηρεσίες</h4>
      <div class="mt-3 space-y-2 text-sm">
        <p><a class="text-inpage hover:text-gray-800" href={`${BASE}services/individual-therapy`}>Ατομική Θεραπεία</a></p>
        <p><a class="text-inpage hover:text-gray-800" href={`${BASE}services/couple-therapy`}>Θεραπεία Ζεύγους</a></p>
        <p><a class="text-inpage hover:text-gray-800" href={`${BASE}services/family-therapy`}>Οικογενειακή Θεραπεία</a></p>
        <p><a class="text-inpage hover:text-gray-800" href={`${BASE}services/group-therapy`}>Ομαδική Θεραπεία</a></p>
        <p><a class="text-inpage hover:text-gray-800" href={`${BASE}services/parent-counselling`}>Συμβουλευτική Γονέων</a></p>
      </div>
    </div>

    <!-- Θεραπευτές -->
    <div>
      <h4 class="text-xs font-semibold text-inpage-900 uppercase">Οι Θεραπευτές</h4>
      <div class="mt-3 space-y-2 text-sm">
        <p><a class="text-inpage hover:text-gray-800" href={`${BASE}team/karavana`}>Εύη Καραβάνα</a></p>
        <p><a class="text-inpage hover:text-gray-800" href={`${BASE}team/kostikidis`}>Χρήστος Κωστικίδης</a></p>
      </div>
    </div>

    <!-- Άλλες Υπηρεσίες -->
    <div>
      <h4 class="text-xs font-semibold text-inpage-900 uppercase">Άλλες Υπηρεσίες</h4>
      <div class="mt-3 space-y-2 text-sm">
        <p><a class="text-inpage hover:text-gray-800" href={`${BASE}online`}>Online Ψυχοθεραπεία</a></p>
        <p><a class="text-inpage hover:text-gray-800" href={`${BASE}actions`}>Βιωματικές Δράσεις</a></p>
      </div>
    </div>

    <!-- Χώρος & Επικοινωνία -->
    <div>
      <h4 class="text-xs font-semibold text-gray-900 uppercase"><a href={`${BASE}gallery`}>Ο Χώρος</a></h4>
      <h4 class="mt-6 text-xs font-semibold text-gray-900 uppercase"><a href={`${BASE}contact`}>Επικοινωνία</a></h4>
    </div>
  </div>

  <!-- Divider -->
  <div class="mt-10 border-t pt-6 border-gray-200 dark:border-neutral-700 flex flex-col sm:flex-row justify-between items-center gap-4 text-sm">
    <!-- Legal Links -->
    <div class="space-x-4 text-center sm:text-left">
      <a class="text-inpage hover:text-gray-800" href="#">Όροι Χρήσης</a>
      <a class="text-inpage hover:text-gray-800" href="#">Προσωπικά Δεδομένα</a>
      <a class="text-inpage hover:text-gray-800" href="#">Πολιτική Cookies</a>
    </div>

    <!-- Copyright -->
    <p class="text-inpage text-center sm:text-right w-full sm:w-auto mt-4 sm:mt-0">
      © 2025 Ενάλια. All rights reserved.
    </p>
  </div>
</footer>